<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Management App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assert/css/style.css">
</head>
<body>
    <!-- header -->
    <header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/" class="nav-brand text-dark">Farm Management System</a>
            </div>

        </div>
    </nav>
    </header>

    <!-- /header -->


    <!-- main site -->
    <main id="site-main">

        <form action="/api/record" method="POST" id="record_batch">
            <div class="new_user">

                <div class="form-group">
                    <label for="numbersold">  Dead  :</label>
                    <br>
                    
                    <input type="num" name="dead" value="" placeholder=" number of dead birds" >
                    <input type="hidden" name="id" value=""  >
                    <input type="hidden" name="key" value=""  >
                </div>

               
                <div class="form-group">
                    <label for="numbersold">  Sold  :</label>
                    <br>
                    
                    <input type="num" name="sold" value="" placeholder=" number of sold birds" >
                </div>
        
                
                <div class="form-group">
                    <label for="SourceContact">Symptoms :</label>
                    <br>
                    
                    <input type="text" name="symptoms" value="" placeholder=" symptoms" >
                </div>
        
                
                <div class="form-group">
                    <label for="numberOfBirds">mediction :</label>
                    <br>
                    <input type="text" name="mediction" value="" placeholder=" Medication" >
                </div>
        
                
                <div class="form-group">
                    <label for="batchArrival"> Date :</label>
                    <br>
                    <input type="date" name="date" value="" placeholder="date of record" >
                </div>
                
                <div class="form-group">
                    <button  type="submit" class="btn text-dark update">Upload</Button>
                    
                    
                </div>
        
            </div>
        
        
        
        
        </form>

           

                
                
                
                      

                        
                    
               

                    
               

                
</body>
</html>