<form action="/api/batch" method="POST" id="add_batch">
    <div class="new_user">
        <div class="form-group">
            <label for="batchSpacie">Batch Specie :</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="batchSpecie" value="" placeholder=" Batch Specie" >
        </div>

        <div class="form-group">
            <label for="batchSource">Batch Source :</label>
            
            <input type="text" name="batchSource" value="" placeholder=" Batch Source" >
        </div>

        
        <div class="form-group">
            <label for="SourceContact">Source Contact :</label>
            <br>
            
            <input type="tel" name="sourceContact" value="" placeholder=" Source Contact" >
        </div>

        
        <div class="form-group">
            <label for="numberOfBirds">Number of Birds :</label>
            <br>
            <input type="num" name="numberOfBirds" value="" placeholder=" Number of birds" >
        </div>

        
        <div class="form-group">
            <label for="batchArrival">Batch Arrival Date :</label>
            <br>
            <input type="date" name="batchArrivalDate" value="" placeholder="date of arrival" >
        </div>
        
        <div class="form-group">
            <button  type="submit" class="btn text-dark update">Save</Button>
            
            
        </div>

    </div>




</form>