<% for(var i=0; i<record.length; i++){%>

<tr>
    <td></td>
    <td></td>
    
    <td></td>
    <td></td>

    <td></td>
    <td class="moment2"> </td>
    
    <td>
        

        <a href="" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-pen"></i></span>
        </a>
        
    
    </td>
    
</tr>

<% } %>